

#modal {
	display: none;
	width: 100%;
	height: 100%;
	background: #032333;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	font-family: 'archivo_narrowbold';
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
}

.fade #modal {
	opacity: 1;
}

#modal input {
	height: 28px;
	width: 165px;
	background: #eaeaea;
	padding-left: 10px;
	padding-right: 10px;
	color: #b9b9b9;
	border-radius: 7px;
	text-transform: uppercase;
	border: none;
	text-align: center;
}

#input_boxes {
	line-height: 42px;
	width: 175px;
	overflow: visible;
	position: relative;
	margin-top: 37px;
}

#center1, #center2 {
	width: 335px;
	display: none;
	margin: 0 auto;
	position: relative;
	margin-top: 200px;
}

.logo_login {
	background: url('images/logo_login.png') no-repeat center;
	width: 206px;
	height: 27px;
	display: block;
	margin: 0 auto;
}

#evernote_login {
	height: 85px;
	width: 70px;
	display: block;
	background: url('images/evernote.png') no-repeat right top;
	position: absolute;
	right: -137px;
	top: 0;	
	padding-left: 31px;
	border-left: 1px solid #646565;
}

#modal input[type="submit"] {
	width: 78px;
	height: 27px;
	background: #00adb9;
	color: white;
	margin-left: 53px;
	margin-top: 20px;
}


#forgot {
	color: #00adb9;
	font-size: 9px;
	text-transform: uppercase;
	position: absolute;
	bottom: 10px;
	left: 153px;
	text-decoration: none;
}

#center2 label {
	color: white;
	height: 30px;
	display: block;
	text-align: right;
	margin-bottom: 13px;
}

#center2 label input {
	margin-left: 10px;
}

#center2 {
	margin-top: 160px;
}


#center2 .logo_login {
	margin-bottom: 25px;
}
