protected/config/main.php
assets/*
uploads/*
composer.lock
.requirements.txt
.htaccess
stats/*
node_modules/*
vendor/*
public/components/*
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
