
Jeto
=============
	- Las tarjetas?
	- Necesita la plata del reimburstment? Pidasela a Carlos
	- Social media? Por que no? Compromiso con el proyecto?

David
============
	- Los forms y la generacion de HTML del Wall
		* Subir a Bitbucket lo que tenga

Carlos
============
	- Cuantos deportistas tiene con nombre, email, telefono y fotos?
		* Como planea conseguir mas; cuando? pero cuando que ya quedan menos de 15 dias?
	??? - Jeto necesita la plata

Ivan
============
Terminar todo lo que falta del sistema
Terminar neb

