<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
	<!-- Styles missing! -->
</head>

<body>

	<div id="container">

		<div id="top">
			<div id="menu">
				<a href="#" id="register">REGISTER</a>
				<a href="#" id="log_in">LOG IN</a>
			</div>
		</div>
		<div id="promo">
			<div id="main_btns">
			<h3><strong>SPONZOR.ME</strong> HELPS YOU FIND SPONSORS FOR YOUR CAUSES</h3>
			<h4>GET THE APP</h4>
				<a href="#app_store" id="app_store"></a>
				<a href="#google_play" id="google_play"></a>
			</div>
		</div>
		<div id="featured">
			<h2>CAUSES TO SPONSOR</h2>
			<ul>
				<li>
					<img class="avatar" src="images/nena.png" alt="avatar" />
					<h2 class="name">Jeremy Ashkenas</h2>
					<span class="hearts">7 hearths</span>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris...</p>
				</li>
				<li>
					<img class="avatar" src="images/nena.png" alt="avatar" />
					<h2 class="name">Jeremy Ashkenas</h2>
					<span class="hearts">7 hearths</span>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris...</p>
				</li>
				<li>
					<img class="avatar" src="images/nena.png" alt="avatar" />
					<h2 class="name">Jeremy Ashkenas</h2>
					<span class="hearts">7 hearths</span>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris...</p>
				</li>
				<li>
					<img class="avatar" src="images/nena.png" alt="avatar" />
					<h2 class="name">Jeremy Ashkenas</h2>
					<span class="hearts">7 hearths</span>
					<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris...</p>
				</li>
			</ul>
		</div>
		<div id="footer">
			<div id="sub_footer">
				<img src="images/logo_mini.png" alt="logo mini sponzor-me" id="logo_mini">
				<a href="#">SUPPORT</a>
				<a href="#">ABOUT</a>
				<a href="#">TERMS OF SERVICE</a>
				<a href="#">PRIVACY</a>
				<span class="copyright">© Copyright 2013 SPONZERS | Made WITH LOVE</span>
			</div>

		</div>
	</div>

</body>

</html>